.home-banner-container{
    width: 100%;
    height: 634px;
    background-image: url(https://images.pexels.com/photos/3769706/pexels-photo-3769706.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    display: flex;
    align-items: center;
}

.home-banner-content{
    width: 700px;
    padding: 0 120px;
    color: white;
}

.home-banner-content h1{
    margin-bottom: 10px;
    font-size: 45px;
}

.home-banner-content p{
    font-size: 18px;
}

.home-courses{
    padding: 0 120px;
}

@media screen and (max-width: 930px) {
    .home-courses, .home-banner-content, .navbar, .footer-container{
        padding: 0 20px;
    }
    .footer-container{
        height: 120px;
    }
    .home-banner-content h1{
        font-size: 35px;
    }
    .home-banner-content p{
        font-size: initial;
    }
  }